/* GlobalColorBlindThemes.css */

body {
    /* Default color scheme for normal vision */
    background-color: #f0f0f0; /* Light gray background */
    color: #333333; /* Dark text color */
  }
  
  /* Protanopia color scheme */
  .protanopia body {
    background-color: #ffeded; /* Light red background */
    color: #595959; /* Dark gray text color */
  }
  
  /* Deuteranopia color scheme */
  .deuteranopia body {
    background-color: #fff4ed; /* Light orange background */
    color: #5f5f5f; /* Dark gray text color */
  }
  
  /* Tritanopia color scheme */
  .tritanopia body {
    background-color: #edf5ff; /* Light blue background */
    color: #595959; /* Dark gray text color */
  }
  